@import 'reset';

$blue: #0066CC;
$red: #CC3333;
$dark-grey: #3E3E3E;

a {
  font-weight: bold;
  color: white;
}

.main {
  line-height: 1.3em;
  color: white;
  background-color: $red;
  font-size: 18px;
  font-family: 'Helvetica Neue';
}

header {
  height: 200px;
  color: white;
  background-color: $blue;
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    font-size: 40px;
  }
}

.movie-title {
  font-size: 40px;
}

.query-box {
  margin: 30px 20px;
}

.search-field {
  text-align: center;
  margin: 30px 0;

  button {
    padding: 5px 25px;
    line-height: 1.8;
    appearance: none;
    box-shadow: none;
    background-color: $dark-grey;
    color: white;
    border: 0px;
    border-radius: 0;
    -webkit-appearance: none;
  }

  button:focus {
    outline: none !important;
    box-shadow: 0 0 10px $dark-grey;
  }

  input {
    width: 100%;
    height: 30px;
    padding: 10px 0;
    border: 0px;
    background-color: $red;
    border-bottom: 1px solid white;
    box-shadow: 0px;
    color: white;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
  }

  input:focus {
    outline: none;
  }

  input.error {
    background-color: $red;
  }

  input::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}

.movie-details {
  text-align: center;

  .movie-summary {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
  }

  table {
    width: 100%;
  }

  h2 {
    text-align: center
  }
}

.movie-crew {
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  .title {
    font-weight: lighter;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-grey;
  height: 200px;
}
